<ul class="coments posts list-unstyled" style="background-color:#ffffff">
	<hr />
	{% for comment in comments %}
	<li class="coments">
		<div class="row">
			<div class="col-md-1 text-center comment-thumbnail">
				<a href="{{url_for('main.user_profile',username=comment.author.username)}}"> <img class="img-rounded profile-thumbnail" width="50px" height="50px" src="{{ comment.author.avatar() }}">
				</a>
			</div>
			<div class="col-md-9 coment-content">
				<div class="comment-author"><a href="{{ url_for('main.user_profile', username=comment.author.username) }}">{{ comment.author.username }}</a></div>
				<div class="comment-body">
	                {% if comment.disabled %}
                		<p><i>This comment has been disabled by a moderator.</i></p>
                	{% endif %}
                	{% if moderate or not comment.disabled %}
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
                {% endif %}
	            </div>
	        </div>
			<div class="col-md-2 text-center comment-date text-muted ">{{ moment(comment.timestamp).fromNow() }}
			{% if moderate %}
                <br>
                {% if comment.disabled %}
                	<a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">Enable</a>
                {% else %}
                	<a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">Disable</a>
                {% endif %}
            {% endif %}
			</div>
	    </div>
    </li>
    <hr />
    {% endfor %}
</ul>