<ul class="posts list-unstyled" style="background-color:#ffffff">
    <hr />
    {% for post in posts %}
    <li class="post" >
        <div class="row">
            <div class="col-md-1 profile-thumbnail text-center">
                <a href="{{ url_for('main.user_profile', username=post.author.username) }}">
                    <img class="img-rounded profile-thumbnail" width="50px" height="50px" src="{{ post.author.avatar }}">{{ post.author.username }}
                </a>
            </div>
            <div class="col-md-10 text-left  post-body">
            {% if post.body_html %}
                {{ post.body_html | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}
            </div>
            <div class="col-md-1 text-muted post-date">
                {{ moment(post.timestamp).fromNow() }}
            </div>
    </li>
    <hr />
    {% endfor %}
</ul>
