{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}User Profile - Assassin Creed{% endblock %}

    
{% block page_content %}
<div class="page-header">
    
    <h1><img class="img-circle" src="{{user.avatar}}" width="50px" height="50px">
        {{ user.username }}
    </h1>
    {% if user.name or user.location %}
    <p>
        {% if user.name %}{{ user.name}}{% endif %}
        {% if user.location %}
            From<a href="http://maps.google.com/?q={{ user.location }}">
                    {{ user.location}}</a>
        {% endif %}
    </p>
    {% endif %}
    {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
    {% if current_user == user %}
        <a class="btn btn-default" href="{{url_for('main.edit_profile')}}">Edit</a>
    {% endif %}
    
    <h3>Posts by {{ user.username }}</h3>
    {% include '_posts.html' %}

    <p>
        Member since {{ moment(user.member_since).format('L') }}.
    </p>
    <p>
        Last seen {{ moment(user.last_seen).fromNow() }}.
    </p>
    {% if current_user.is_administrator() %}
    <a class="btn btn-danger"
        href="{{url_for('main.edit_profile_admin',id=user.id)}}">Edit Profile [Admin]</a>
    {% endif %}
</div>
{% endblock %}